body {
    font-family: Arial, sans-serif;
    background-image: url('resources/FBwWTIUVkAI_SVj.jpeg');
    background-size: cover;
    
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  select, input {
    margin-bottom: 20px;
  }
  
  #results {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    text-align: center;
  }
  
  a {
    display: block;
    margin-top: 30px;
    text-align: center;
  }  